# SPDX-FileCopyrightText: 2021-2023 KUNBUS GmbH
#
# SPDX-License-Identifier: GPL-2.0-or-later

[Unit]
Description=Revolution Pi bluetooth helper for %I
Requires=bluetooth.service
After=bluetooth.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/revpi-bthelper %I
RemainAfterExit=yes
