Source: revpi-bluetooth
Section: misc
Priority: optional
Maintainer: KUNBUS GmbH <support@kunbus.com>
Rules-Requires-Root: no
Homepage: https://revolutionpi.com/
Vcs-Browser: https://github.com/RevolutionPi/revpi-bluetooth
Vcs-Git: https://github.com/RevolutionPi/revpi-bluetooth.git
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.3.0

Package: revpi-bluetooth
Architecture: all
Depends: ${misc:Depends}, bluez, bluez-firmware, gpiod
Description: Revolution Pi bluetooth
 Setup Revolution Pi bluetooth devices on boot
