Source: revpi-bluetooth
Section: misc
Priority: optional
Maintainer: KUNBUS GmbH <support@kunbus.com>
Rules-Requires-Root: no
Homepage: https://revolutionpi.com/
Vcs-Browser: https://github.com/RevolutionPi/revpi-bluetooth
Vcs-Git: https://github.com/RevolutionPi/revpi-bluetooth.git -b raspios/bullseye
Build-Depends:
  cmake,
  debhelper-compat (= 13)
Standards-Version: 4.5.1

Package: revpi-bluetooth
Architecture: all
Depends: ${misc:Depends}, bluez, bluez-firmware, gpiod
Description: Revolution Pi bluetooth
 Setup Revolution Pi bluetooth devices on boot
